<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container=fluid">
            <div class="navbar-header">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-right">
                    <p>Username: @User.Identity.Name</p>
                    </div>
                }
                <a class="navbar-brand">Chill and Grill</a>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <footer>
        @await Component.InvokeAsync("Greeter")
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
