<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
          <p>@User.Identity.Name</p>
        }
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        @await Component.InvokeAsync("Greeter")
    </footer>
</body>
</html>
