@using ChillAndGrill.Models
@model ChillAndGrill.Models.Restaurant

@{int counter = 0;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>

    <div>
        <form method="post">
            <input type="text" name="Name" /> <!--the name attribute must be the value of the restaurant property it binds to. E.g restaurant.Name-->
            <select name="Cuisine">
                @foreach (CuisineType cuisineType in Enum.GetValues(typeof(CuisineType)))
                {
                    <option value="@counter">@cuisineType</option>
                    counter++;
                }
            </select>
            <input type="Submit" name="save" value="Save" />
        </form>
    </div>

    <button>@Html.ActionLink("Home", "Index", "Home")</button>
    @Html.AntiForgeryToken()

</body>
</html>
