@model ChillAndGrill.Models.Restaurant

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<br />

<div>...Details about found restaurant...</div>
<p>Id: @Model.Id</p>
<p>Cuisine: @Model.Cuisine</p>

<button>@Html.ActionLink("Home", "Index", "Home")</button>
