@model ChillAndGrill.ViewModels.HomeIndexViewModel


@{
    ViewBag.Title = "Home Page";
}

<div><h1>All Restaurants - @DateTime.Now.Year</h1></div>
<br />
<div>
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant);
        <br />
    }
</div>

    <div>
        <br />
        <button class="btn btn-primary">@Html.ActionLink("Add Restaurant", "Create", "Home")</button>
    </div>


